<div class="container-form">
	<h1>Formulaire de contact</h1>
	<form id="form" method="POST" action="/formulaire/">
		<!-- ---------------------------- -->
		<label for="fname">Nom & prénom</label>
		<input type="text" id="fname" name="fname" placeholder="Votre nom et prénom"><br />
		<!-- ---------------------------- -->
		<label for="subject">Sujet</label>
		<input type="text" id="subject" name="subject" placeholder="L'objet de votre message"><br />
		<!-- ---------------------------- -->
		<label for="mail">Email</label>
		<input id="mail" type="text" name="mail" placeholder="Votre email"><br />
		<!-- ---------------------------- -->
		<label for="content">Message</label>
		<textarea id="content" name="content" placeholder="Votre message" style="height:200px"></textarea><br />
		<!-- ---------------------------- -->
		<input id="bouton" type="submit" value="Envoyer" name="save"><br />
	</form>
</div>